/target
/Cargo.lock

# Zed editor
.zed/

# VS Code
.vscode/

# JetBrains IDEs (IntelliJ, CLion, etc.)
.idea/

# Sublime Text
*.sublime-workspace
*.sublime-project

# Vim
*.swp
*.swo
.vim/

# Emacs
*~
.emacs.d/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs and temp files
*.log
*.tmp
